<template>
  <v-app dark>
    <NavBar/>
    <v-content>
      <v-container fluid>
        <nuxt />
        <vue-snotify></vue-snotify>
       </v-container>
    </v-content>
  </v-app>
</template>
<script>
  import NavBar from "../components/NavBar";
  export default {
    components: {
      NavBar,
    }
  }
</script>
