<template>
  <v-container fluid>
    <!--    NAV BAR-->
    <v-navigation-drawer
      v-model="drawer"
      :mini-variant="miniVariant"
      :clipped="clipped"
      hide-on-scroll="true"
      fixed
      app
    >
      <v-list>
        <v-list-item
          v-for="(item, i) in items"
          :key="i"
          :to="`${item.to}?lang=${selectedLanguage.key}`"
          router
          dense
          exact
        >
          <v-list-item-action>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title v-text="item.title"/>
          </v-list-item-content>
        </v-list-item>
      </v-list>
      <template v-slot:append v-if="isAuthenticated">
        <div class="pa-2">
          <v-btn block fle v-on:click="logout">Logout</v-btn>
        </div>
      </template>
    </v-navigation-drawer>
    <!--    NAV BAR-->
    <!--    APP BAR-->
    <v-app-bar
      :clipped-left="clipped"
      fixed
      app
    >
      <v-app-bar-nav-icon @click.stop="drawer = !drawer"/>
      <v-btn
        icon
        @click.stop="miniVariant = !miniVariant"
      >
        <v-icon>mdi-{{ `chevron-${miniVariant ? 'right' : 'left'}` }}</v-icon>
      </v-btn>
      <v-btn
        icon
        @click.stop="clipped = !clipped"
      >
        <v-icon>mdi-application</v-icon>
      </v-btn>
      <v-img src="/hlogo.png" position="left" contain height="50px"></v-img>
      <v-spacer/>
      <v-col cols="12" sm="1">
          <v-select
            dense

            v-model="selectedLanguage"
            :items="languages"
            item-text="text"
            item-value="key"
            single-line
            return-object
            v-on:change="changeLang(`${selectedLanguage.key}`)"
          ></v-select>
      </v-col>
    </v-app-bar>
    <!--    APP BAR-->
  </v-container>
</template>
<script>
  import {mapGetters} from 'vuex';

  export default {
    methods: {
      //logout
      async logout() {
        await this.$auth.logout();
        this.$snotify.warning(this.$t('logout_action'), this.$t('notification'));
      },
      /**
       * Change language action
       *
       * @param lang
       */
      changeLang(lang) {
        //mutate 'locale' in store
        this.$store.commit('SET_LANG', lang);
        //re-route to the current page but with the selected language in a query string
        this.$router.push({path: `${this.$router.currentRoute.path}?lang=${lang}`})
      }
    },
    computed: {
      ...mapGetters(['isAuthenticated', 'loggedInUser']),
      items: function () {
        if (! this.$auth.loggedIn) {
          return [
            {
              icon: 'mdi-apps',
              title: 'Welcome',
              to: '/'
            },
            {
              icon: 'mdi-login',
              title: 'Login',
              to: '/login',
            },
            {
              icon: 'mdi-account-plus',
              title: 'Register',
              to: '/register',
            }
          ];
        } else {
          return [
            {
              icon: 'mdi-apps',
              title: 'Welcome',
              to: '/'
            },
            {
              icon: 'mdi-chart-bubble',
              title: 'Bookkeeper',
              to: '/bookkeeper'
            },
          ];
        }
      }
    },
    data() {
      return {
        selectedLanguage: {text: this.$t(this.$i18n.locale), key: this.$i18n.locale},
        languages: [
          {text: this.$t('ro'), key: 'ro'},
          {text: this.$t('en'), key: 'en'},
        ],
        miniVariant: false,
        clipped: false,
        drawer: true,
        fixed: false,
        right: null,
        title: 'Help/s'
      }
    }
  }
</script>
