<template>
  <v-container fluid>
    <v-row justify="center">
      <p class="display-2"> {{ $t('login.title') }}</p>
    </v-row>
    <v-row justify="center">
      <p class="dislay-1"> {{$t('login.introduction')}} </p>
    </v-row>
    <v-row justify="center">
      <v-col cols="12" sm="5">
        <v-container fluid>
          <ValidationObserver ref="observer" v-slot="{ validate, reset }">
            <form>
              <v-row>
                <v-col cols="12">
                  <ValidationProvider v-slot="{ errors }" name="email" rules="required|email">
                    <v-text-field
                      autocomplete="username"
                      v-model="email"
                      :error-messages="errors"
                      :label="$t('fields.email')"
                      outlined
                      required
                    ></v-text-field>
                  </ValidationProvider>
                </v-col>
              </v-row>
              <v-row>
                <v-col cols="12" sm="12">
                  <ValidationProvider vid="password" v-slot="{ errors }" name="password" rules="required">
                    <v-text-field
                      v-model="password"
                      autocomplete="current-password"
                      outlined
                      :error-messages="errors"
                      :label="$t('fields.password')"
                      type="password"
                    ></v-text-field>
                  </ValidationProvider>
                </v-col>
              </v-row>
              <V-row justify="center">
                  <v-btn class="mr-4" v-on:click="login">{{$t('login.button')}}</v-btn>
              </V-row>
            </form>
          </ValidationObserver>
        </v-container>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
  import {ValidationObserver, ValidationProvider} from 'vee-validate'

  export default {
    middleware: ['guest'],
    components: {
      ValidationProvider,
      ValidationObserver,
    },
    data() {
      return {
        email: '',
        password: '',
        terms: null,
        menu: false,
        dialog: false,
        error: '',
      }
    },
    methods: {
      async login() {
        try {
          await this.$refs.observer.validate().then(success => {
            if (!success) {
              return;
            }

            this.$auth.loginWith('local', {
              data: {
                email: this.email,
                password: this.password
              },
            })
              .then(() => {
                this.$snotify.success(this.$t('login_action'), this.$t('notification'));
              })
              .catch(e => {
                if (e.response.status === 401) {
                  for (let i in e.response.data.errors) {
                    e.response.data.errors[i] = this.$t(e.response.data.errors[i]);
                  }
                  this.$snotify.error(this.$t(401), this.$t('notification'));
                  this.$refs.observer.setErrors(e.response.data.errors);
                  return false;
                } else {
                  this.$snotify.error(this.$t(401), this.$t('notification'));
                }
              })
          })
        } catch (e) {
          this.error = e.response.data.error.message;
        }
      }
    }
  }
</script>
